Django==3.0.7
PyJWT==1.7.1
attrs==19.1.0
dj-database-url==0.5.0
django-clear-cache==0.3
django-cors-headers==3.3.0
django-fsm==2.7.0
djangorestframework-jwt==1.11.0
djangorestframework==3.11.0
gunicorn==19.9.0
jsonschema==3.0.1
psycopg2-binary==2.8.4
pyffish==0.0.46
pytz==2018.9
sqlparse==0.3.0
whitenoise-5.1.0
